header{
    display: flex;
    flex-direction: row-reverse;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #140D1C;
    color: #fff;
    border-bottom: 2px solid #460EC8;
}

header nav{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
    gap: 50px;
    text-transform: uppercase;
}

header a{
    font-size: 25px;
    align-self: center;
    margin: 0;
    color: #fff;
    font-family: 'roboto';
    font-weight: 500;
    text-decoration: none;
}

header img{
    margin-left: 50px;
    filter: invert();
    aspect-ratio: auto;
    width: 200px;
    height: auto;
}



@media screen and (max-width: 600px){
header{
    display: flex;
    flex-direction: column;
    min-height: 70px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #140D1C;
    color: #fff;
    border-bottom: 2px solid #460EC8;
}

header nav{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
    margin: 15px 0;
    text-transform: uppercase;
}

header img{
    margin-left: 0;
    margin-bottom: 15px;
    filter: invert();
    aspect-ratio: auto;
    width: 200px;
    height: auto;
}

}
