/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Container geral */
body {
  background-color: #1c1b20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

/* Painel esquerdo */
.left-panel {
  background-color: #120f1a;
  color: white;
  width: 45%;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo img {
  width: 50px;
  margin-bottom: 10px;
}

.logo h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

.slogan {
  font-size: 54px;          /* bem maior */
  font-weight: 700;          /* mais presença */
  line-height: 1.1;          /* menos espaçamento vertical */
  text-align: center;
  letter-spacing: 1px;       /* leve espaçamento entre letras */
  color: #ffffff;
  text-transform: uppercase; /* dá um ar de destaque */
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* traço mais grosso */
  text-decoration-color: #7f58ff;
}


.right-panel {
  width: 55%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8fb;
}

.right-panel h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 14px 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #efedf7;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #628dfd;
}

button {
  background-color: #628dfd;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #517cfb;
}

.login-text {
  margin-top: 25px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.login-text a {
  color: #2d5dfc;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
