footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: var(--footer_bg);
    color: white;
}

@media screen and (max-width: 740px){
footer{
    min-height: 30px;
}
}
