header{
    display: flex;
    flex-direction: row-reverse;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header_bg);
    color: var(--general_text_color);
    border-bottom: 2px solid var(--highlight_purple);
}

header nav{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
    gap: 50px;
    text-transform: uppercase;
}

.nav_bar_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar_elemento a{
    font-size: 25px;
    align-self: center;
    margin: 0;
    color: var(--general_text_color);
    font-family: 'roboto';
    font-weight: 500;
    text-decoration: none;
    transition: color 0.4s ease-out;
}

.nav_bar_elemento span{
    width: 0;
    height: 2px;
    background-color: var(--highlight_text_color);
    transition: width 0.4s ease-out;
}

.nav_bar_elemento:hover a{
    color: var(--highlight_text_color);
}

.nav_bar_elemento:hover span{
    width: 100%;
}

header img{
    margin-left: 50px;
    filter: invert();
    aspect-ratio: auto;
    width: 200px;
    height: auto;
}



@media screen and (max-width: 740px){
header{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 0;
    text-transform: uppercase;
}

.nav_bar_elemento{
    margin-bottom: 10px;
}

header img{
    margin: 10px 0;
    filter: invert();
    aspect-ratio: auto;
    width: 200px;
    height: auto;
}

}



@media screen and (max-width: 500px){
header{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    justify-content: center;
}

header nav{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    padding: 0;
    gap: 5px;
    margin: 15px 0;
}

.nav_bar_elemento{
    margin: 0;
}

header img{
    margin-left: 0;
    margin-top: 15px;
}

}
