html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body *{
  font-family: "Roboto", sans-serif;
}

body{
  width: 100%;
}

button{
  transition: transform 0.35s ease-in;
}

button:hover{
  transform: translateY(-2px);
}