:root{
    /* TEXT COLORS */
    --general_text_color: #FFFFFF;
    --dark_text_color: #3D414A;
    --highlight_text_color: #b1a8c7;
    --secondary_text_color: #A6A6A6;


    /* HIGHLIGHT COLORS */
    --highlight_blue: #346DE9;
    --hover_highlight_blue: #5a80f0;
    --highlight_purple: #460EC8;


    /* BACKGROUND COLORS */
    --header_bg: #140D1C;
    --general_bg: #151122;
    --user_CRUD_bg: #301e4e;
    --footer_bg: #000000;
    --link_bg: #DAD7E9;
    --login_bg: #c4c2cc;


    /* BUTTON COLORS */
    --delete_button_anim_bg: #ec091c;
    --edit_button_anim_bg: #19ee60;


    /* BORDER SPECIFICATIONS */
    --general_border_radius: 10.5px;

    --track-bg: #21193a;
    --link_URL_width: 300px;
}