:root {
    /* TEXT COLORS */
    --general_text_color: #CBD5E1;
    --dark_text_color: #94A3B8;
    --highlight_text_color: #FFFFFF;
    --secondary_text_color: #64748B;

    /* HIGHLIGHT COLORS */
    --highlight_blue: #3B82F6;
    --hover_highlight_blue: #60A5FA;
    --highlight_purple: #8B5CF6;

    /* BACKGROUND COLORS */
    --header_bg: #0B0E16;
    --general_bg: #0F1221;
    
    --user_CRUD_bg: #1E2235;   
    --login_bg: #1E2235;       
    
    /* INPUT/LINK ELEMENTS */
    --link_bg: #2D324A;
    --footer_bg: #020408;

    /* BUTTON COLORS */
    --delete_button_anim_bg: #F43F5E;
    --edit_button_anim_bg: #10B981;

    /* BORDER SPECIFICATIONS */
    --general_border_radius: 12px;
    
    --link_URL_width: 300px;
}