main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 142px);
    background-color: var(--general_bg);
    color: var(--general_text_color);
}

h1, h2, p{
    margin: 0;
}

.titulo-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo-info h1{
    font-size: 2.3rem;
}

.titulo-info p{
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.info h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.info p{
    font-size: 1rem;
    margin-bottom: 30px;
}