main{
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-height: calc(100vh - 142px);
    background-color: #151122;
}

.user_profile{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 16.5%;
}

.pfp_img{
    width: 75%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    filter: grayscale(1);
    filter: brightness(5);
}

.user_info_summary{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
}

.user_info_summary p{
    margin: 0;
}

#profile_username_p{
    color: var(--general_text_color);
    font-size: 25px;
}

#profile_links_count_p{
    color: var(--secondary_text_color);
}

.link_related_div{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.link_related_subdiv{
    width: 85%;
    border-bottom: 2px solid var(--highlight_purple);
}

.link_search_div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}

.link_search_div > *{
    height: 40px;
    border-radius: var(--general_border_radius);
    border: none;
}

.link_search_div input{
    width: 60%;
    flex: 1;
    padding-left: 15px;
    background-color: var(--link_bg);
    font-size: 18px;
}

.wrapper{
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.wrapper > *{
    border-radius: var(--general_border_radius);
    border: none;
}

.tag_details, .create_new_link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.tag_details{
    position: relative;
    width: 114px;
    background-color: var(--link_bg);
    flex-direction: column;
}

.tag_details summary{
    list-style: none;
    cursor: pointer;
}

.tag_details summary::-webkit-details-marker {
  display: none;
}

.tag_details summary img{
    width: 20px;
    height: auto;
    margin-left: 12px;
}

.tag_details .content{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--link_bg);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.tag_details[open] .content {
  animation: slideDown 0.9s ease;
}
@keyframes slideDown{
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 1em;
    height: 1em;
}

.tag_details .content label{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    cursor: pointer;
}

.content label input{
    list-style-type: none;
}

.create_new_link{
    justify-content: center;
    align-items: center;
    background-color: var(--highlight_blue);
    width: 120px;
    color: var(--general_text_color);
    text-decoration: none;
}

.link_summary_div{
    display: flex;
}

.element_URL_subdiv{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    padding: 30px 0;
}

.element_URL_subdiv p{
    margin: 0;
}


.element_URL_fitcontent_subdiv{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--general_bg);
}

.element_URL_fitcontent_subdiv:hover{
    cursor: pointer;
}

.element_URL_fitcontent_subdiv span{
    width: 0;
    height: 2px;
    align-self: center;
    background-color: var(--highlight_text_color);
    transition: width 0.6s ease-in-out;
}

.element_URL_fitcontent_subdiv:hover span{
    width: 90%;
}

.short_link_URL{
    color: var(--general_text_color);
    font-size: 24px;
}

.long_link_URL{
    color: var(--secondary_text_color);
    font-size: 16px;
}

.element_CRUD_subdiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
}

.button_CRUD{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--link_bg);
    border-radius: var(--general_border_radius);
    border: none;
    transition:
        background-color 0.4s ease-in,
        scale 0.4s ease-in;
}

.button_CRUD span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 50%;
    transition:
        width 0.4s ease-in,
        height 0.4s ease-in,
        background-color 0.2s ease-in;
}

.button_CRUD:hover{
    cursor: pointer;
    scale: 1.05;
}

.button_CRUD:hover span{
    width: 200px;
    height: 200px;
}

.button_delete_element:hover span{
    background-color: #ec091c;
}

.button_edit_element:hover span{
    background-color: #19ee60;
}