main{
    display: flex;
    height: calc(100vh - 142px);
    background-color: var(--general_bg);
}

.container_gerador_link{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_gerador_link h2{
    margin: 0;
    color: var(--create_container_text_color);
    font-weight: 600;
    margin-top: 10px;
    font-size: 24px;
}

.container_inserir_url{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--link_URL_width);
    height: 80px;
    margin-bottom: 20px;
    background-color: #CECCEA;
    border-radius: var(--general_border_radius);
}

.container_inserir_url input{
    background-color: var(--link_bg);
    width: calc(100% - 19px);
    height: 25px;
    padding-left: 15px;
    border-end-start-radius: var(--general_border_radius);
    border-end-end-radius: var(--general_border_radius);
    border: none;
}

#botao_gerador_link{
    width: calc(var(--link_URL_width)*0.7);
    margin-bottom: 60px;
    padding: 7.5px;
    font-size: 20px;
    background-color: var(--highlight_blue);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition:
    scale 0.35s ease-in,
    background-color 0.35s ease-in;
}

#botao_gerador_link:hover{
    background-color: #2154c4;
    scale: 1.05;
}

#output-link_encurtado{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    width: 0;
    height: 25px;
    background-color: var(--link_bg);
    border-radius: var(--general_border_radius);
    transition: 
        width 0.6s ease-out,
        opacity 0.3s ease-in,
        padding 0.4s ease-out;
}
#output-link_encurtado.show{
    opacity: 1;
    width: calc(var(--link_URL_width) - 20px);
    padding: 1px 5px 1px 15px;
}

#output-link_encurtado-p{
    display: inline-block;
    margin: 0;
    line-height: 25px;
    color: var(--create_container_text_color);
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#output-link_encurtado img{
    display: none;
    width: 20px;
    height: auto;
    margin-top: 3.5px;
    cursor: pointer;
}

@media screen and (max-width: 600px){}
