/* CONTAINER GERAL */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
}

.error {
  color: red;
  font-size: 0.9em;
  display: block;
}

.error:empty {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--login_bg);
  overflow: hidden;
}

/* PAINEL ESQUERDO */
.left-panel {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: var(--general_bg);
    color: var(--secondary_text_color);
    width: 47%;
    justify-items: center;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.logo_div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: -60px;
}

.logo_div img {
    width: 250px;
    height: fit-content;
    align-self: end;
}

.logo_div div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo_div h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slogan p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slogan_p1{
    margin-left: -70px;
}

.slogan_p2{
    margin-left: 70px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--highlight_text_color);
}


/* PAINEL DIREITO */
.right-panel {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--login_bg);
}

.right-panel h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
}

input {
    width: 100%;
  padding: 14px 16px;
  border: 1px solid #ddd;
  border-radius: var(--general_border_radius);
  background-color: var(--link_bg);
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: var(--highlight_purple);
}

button {
    width: 90%;
  background-color: var(--highlight_blue);
  color: white;
  border: none;
  padding: 16px;
  border-radius: var(--general_border_radius);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--hover_highlight_blue);
}

.login-text {
  margin-top: 25px;
  font-size: 14px;
  color: var(--dark_text_color);
  text-align: center;
}

.login-text a {
  color: var(--highlight_blue);
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1100px){
/* PAINEL ESQUERDO */
.left-panel {
    justify-items: center;
}

.logo_div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: -60px;
}

.logo_div img {
    width: 175px;
}

.logo_div h1 {
  font-size: 42px;
}

.slogan p{
    font-size: 42px;
}

.slogan_p1{
    margin-left: -50px;
}

.slogan_p2{
    margin-left: 50px;
}

}



@media screen and (max-width: 740px){
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

/* PAINEL ESQUERDO */
.left-panel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 100%;
    min-height: 230px;
    justify-items: center;
    align-content: space-evenly;
    border-top-right-radius: 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.logo_div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
    justify-content: end;
}

.logo_div img {
    width: 150px;
    height: fit-content;
    align-self: end;
}

.logo_div div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo_div h1 {
  font-size: 28px;
}

.slogan p{
    font-size: 28px;
}

.slogan_p1{
    margin-left: -35px;
}

.slogan_p2{
    margin-left: 35px;
}

/* PAINEL DIREITO */
.right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--login_bg);
}

.right-panel h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-text {
  margin-top: 18px;
  font-size: 14px;
  color: var(--dark_text_color);
  text-align: center;
}

.login-text a {
  color: var(--highlight_blue);
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

}



@media screen and (max-width: 500px){
.container {
    display: flex;
    flex-direction: column;
}

/* PAINEL ESQUERDO */
.left-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 230px;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    border-top-right-radius: 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.logo_div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.logo_div img {
    width: 150px;
    height: fit-content;
    align-self: end;
}

.logo_div div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo_div h1 {
  font-size: 28px;
}

.slogan p{
    font-size: 28px;
}

.slogan_p1{
    margin-left: -35px;
}

.slogan_p2{
    margin-left: 35px;
}

}